<footer class="footer">
  <div class="container footer-container">
    <div>
      <a href="/">
        <img
          src="\images\LogoSportsWear(2).png"
          class="logo-footer"
          alt="Logo SportsWear"
        />
      </a>
      <ul class="social-links">
        <li>
          <a href="#">
            <ion-icon class="iconos-social" name="logo-instagram"></ion-icon>
          </a>
        </li>
        <li>
          <a href="#">
            <ion-icon class="iconos-social" name="logo-facebook"></ion-icon>
          </a>
        </li>
        <li>
          <a href="#">
            <ion-icon class="iconos-social" name="logo-twitter"></ion-icon>
          </a>
        </li>
      </ul>
      <p class="copyright">Copyright ©2022 SportsWear, all rights reserved.</p>
    </div>
    <div>
      <h3>Contacto</h3>
      <ul class="footer-list">
        <li>745 Mante Land Suite 042 - Coeur d'Alene, AL / 26054</li>
        <li>+54 9 11-7297-8221</li>
        <li>sportsweardh@gmail.com</li>
      </ul>
    </div>
    <div>
      <h3>Empresa</h3>
      <ul class="footer-list">
        <li>Sobre SportsWear</li>
        <li>Sponsors</li>
        <li>Creadores</li>
      </ul>
    </div>
    <div>
      <h3>Ayuda</h3>
      <ul class="footer-list">
        <li>Preguntas frecuentes</li>
        <li>Atención al cliente</li>
        <li>Metodos de pago</li>
        <li>¿Cómo compro?</li>
      </ul>
    </div>
  </div>
</footer>
