<header class="header">
  <a href="/" class="header-ancor">
    <img
      src="\images\LogoSportsWear(2).png"
      class="logo"
      alt="Logo SportsWear"
    />
  </a>

  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a href="/" class="main-nav-link">Home</a></li>
      <li>
        <a href="/products/categories" class="main-nav-link">Categorías</a>
      </li>
      <!-- Dentro de categorias, los 4 deportes elegidos, accesorios e indumentaria -->
      <li><a href="#" class="main-nav-link">Hombres</a></li>
      <li><a href="#" class="main-nav-link">Mujeres</a></li>
      <li><a href="#" class="main-nav-link">Niñxs</a></li>
    </ul>
  </nav>

  <div class="boton-nav">
    <ion-icon name="menu"></ion-icon>
  </div>

  <div class="botones-header">
    <button>
      <a href="#"><ion-icon name="search" class="iconos-header"></ion-icon></a>
    </button>
    <% if (!locals.usuario){ %>
    <button>
      <a href="/users/login"
        ><ion-icon name="person" class="iconos-header"></ion-icon
      ></a>
    </button>
    <% } else { %>
    <a class="msg-login" href="/users/profileView" name="name" id="name"
      >Hola <%=usuario.name%>!</a>

    <div>
      <img
        class="img-header"
        src="/images/avatars/<%=usuario.image%>"
        name="image"
        id="image"
        
      />
    </div>

    <div class="button-logout-container">
      <form action="/users/logout" method="post">
        <button type="submit" class="logout-button">Salir</button>
      </form>
    </div>
    <% } %>
    <button>
      <a href="/products/productCart"
        ><ion-icon name="cart" class="iconos-header"></ion-icon
      ></a>
    </button>
  </div>
</header>
