/*Crear editar*/

form {
  width: 60%;
  padding: 0 2rem;
}

.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10rem auto 30rem;
  padding: 1.8rem;
  background-color: #222;
  max-width: 75rem;
  box-shadow: 0px 0px 5px rgb(90, 90, 90);
  border-radius: 8px;
  color: #ffffffff;
  
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 5rem auto;
  padding: 2rem;
  background-color: #222;
  max-width: 50rem;
  box-shadow: 0px 0px 5px rgb(90, 90, 90);
  border-radius: 8px;
  color: #ffffffff;
  
}
h3{
    padding-bottom:10px;
    
}
.user-name{

  font-size: 30px;

}
option {
  color: white;
  background-color: #222222;
}

.register-title {
  font-size: 22px;
  color: #eafa35;
}

.profile-title {
  font-size: 30px;
  color: #eafa35;
  margin-top: 5%;
  margin-bottom: 0%;
}

.article-data {
  font-size: 16px;
  padding-bottom: 5%;
  padding-top: 5%;
}

.properties-label {
  font-size: 12px;
  text-align: left;
}

.properties-label label {
  font-size: 13px;
}

.input-name,
.input-description,
.input-general

{
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.input-file {
  border-radius: 5px;
  border: none;
  width: 100%;
}
.select {
  width: 100%;
  height: 30px;
  align-items: center;
  border-radius: 5px;
}
.file-select {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
  }

  .file-select::before {
    background-color: #eafa35;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-radius: 5px;
    content: 'Agregar imagen'; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .file-select input[type="file"] {
    opacity: 0;
    width: 250px;
    height: 40px;
    display: inline-block;
  }

  #src-file1::before {
    content: 'Seleccionar Archivo 1';
  }

.bot {
  margin-top: 1rem;
}
h3{
    margin-top: 1rem;
}

.button,
input[type="submit"] {
  display: inline-block;
  background-color: #eafa35;
  border: none;
  color: gray;
  font-weight: bold;
  padding: 8px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  font-size: 20px;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.button:hover {
  background-color: #eefb5d;
  color: black;
  font-weight: bold;
}

.image {
  max-width: 40rem;
}

.img-header {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.profile-text {
  font-size: 20px;
  color: #eafa35;
}

.profile-label {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  padding: 10px;
}

.warnings {
  width: 100%;
  text-align: center;
  margin: auto;
  color: red;
  padding-top: 15px;
  list-style: none;
  font-size: 15px;
}

/* Errores Frontend */

.is-valid {
  color: #198754;
}

.is-invalid {
  color: #842029;
}