/*Crear editar*/

form {
  width: 60%;
  padding: 0 2rem;
}

.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10rem auto 30rem;
  gap: 1.6rem;
  padding: 1.8rem;
  background-color: #222;
  max-width: 75rem;
  box-shadow: 0px 0px 5px rgb(90, 90, 90);
  border-radius: 8px;
  color: #ffffffff;
  height: 57rem;
}
h3{
    padding-bottom:10px;
}
option {
  color: white;
  background-color: #222222;
}



.inputNombre,
.inputarticulo,
.inputdescripcion,
.inputfile
{
  border-radius: 5px;
  border: none;
  margin-top: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
.select {
  width: 100%;
  height: 30px;
  align-items: center;
  border-radius: 5px;
}
.file-select {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
  }

  .file-select::before {
    background-color: #eafa35;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border-radius: 5px;
    content: 'Seleccionar'; 
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .file-select input[type="file"] {
    opacity: 0;
    width: 200px;
    height: 32px;
    display: inline-block;
  }

  #src-file1::before {
    content: 'Seleccionar Archivo 1';
  }

.bot {
  margin-top: 1rem;
}
h3{
    margin-top: 1rem;
}

input[type="button"],
input[type="submit"] {
  display: inline-block;
  background-color: #eafa35;
  border: none;
  color: black;
  padding: 8px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  width: 120px;
  text-align: center;
}
.button:hover {
  background-color: #eefb5d;
}
