/* body {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.45),
      rgba(34, 34, 34, 0.45)
    ),
    url(https://images.unsplash.com/photo-1497515098781-e965764ab601?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1421&q=80);
} */

body {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.45),
      rgba(34, 34, 34, 0.45)
    ),
    url(https://images.unsplash.com/photo-1542924597-e73e0e35c010?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=672&q=80);
  background-size: 100vw;
}

/* Comprar */

.comprar,
a {
  text-decoration: none;
  color: #000;
}
.comprar {
  position: absolute;
  background-color: #eafa35;
  color: #000;
  /* background-color: #111;
  color: #eafa35; */
  font-weight: 600;
  font-size: 1.6rem;
  padding: 1rem 5rem;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}

.comprar {
  top: 4.8rem;
  right: 4.8rem;
}
.comprar:hover {
  cursor: pointer;
  /* background-color: #eafa35;
  color: #000; */
  background-color: #111;
  color: #eafa35;
  transform: translateY(-1rem);
}

.comprar:hover a {
  color: #eafa35;
}
/* Slider */

.slider {
  max-height: 75rem;
  height: 75rem;
  width: 85vw;
  margin: 3rem auto;

  margin-top: 2.4rem;

  position: relative;
  -webkit-user-select: none;
  user-select: none;

  /* AL FINAL */
  overflow: hidden;
}

.slide {
  position: absolute;
  /* top: -50%; */
  width: 100%;
  height: 75rem;
  -webkit-user-select: none;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 1s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-btn {
  position: absolute;
  top: 50%;
  z-index: 10;

  border: none;
  color: #eafa35;
  height: 6rem;
  width: 6rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.slider-btn--left {
  left: 3%;
  transform: translate(0, -50%);
}

.slider-btn--right {
  right: 3%;
  transform: translate(0, -50%);
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots-dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  -webkit-tap-highlight-color: transparent;
  border: 2px solid #ebebeb;
  box-shadow: rgba(84, 84, 84, 0.16) 0px 1px 4px,
    rgb(84, 84, 84) 0px 0px 0px 3px;
}

.dots-dot:last-child {
  margin: 0;
}

.dots-dot--active {
  background-color: #eafa35;
  opacity: 1;
}
/*  */
/* Puntos */
.puntos {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 3.2rem);

  display: flex;
  gap: 12px;
}

.punto {
  height: 12px;
  width: 12px;
  background-color: #000;
  border: 2px solid #eafa35;
  border-radius: 50%;
  cursor: pointer;
}

.punto--relleno {
  background-color: #eafa35;
}

/* Seccion Productos */
.seccion-productos {
  padding: 9.6rem 0;
  /* background-color: #111; */
  margin-bottom: 10rem;
}

.lo-mejor {
  font-size: 1.4rem;
  color: #eafa35;
  text-align: center;
  margin-bottom: 1rem;
}

.heading-secundario {
  font-size: 4.4rem;
  margin-bottom: 9.6rem;
  color: #ffffffff;
  text-align: center;
}

.productos {
  display: flex;
  justify-content: space-between;
}

.producto {
  background-color: #000;
  position: relative;
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  max-width: 25rem;
  box-shadow: 10px 10px 15px rgb(0 0 0 / 30%);
}

.producto:hover {
  transform: translateY(-1.6rem);
}

.en-oferta::after {
  content: "En Oferta!";
  position: absolute;
  top: 6%;
  right: -17%;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.4rem 4rem;
  transform: rotate(45deg);
}

.producto-img {
  max-height: 16rem;
  width: 25rem;
  object-fit: cover;
}

.detalle-productos {
  padding: 3.2rem;
}

.producto-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #000;
  border-radius: 100px;
  font-weight: 700;
}

.tag--general {
  background-color: #666;
}
.tag--futbol {
  background-color: #0ca678;
}
.tag--esqui {
  background-color: #ffffffff;
}
.tag--tenis {
  background-color: #eafa35;
}
.tag--pelotas {
  background-color: salmon;
}
.tag--accesorios {
  background-color: #4263eb;
}

.producto-titulo {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
  color: #ffffffff;
}

.precio-compra {
  display: flex;
  gap: 1rem;
  color: #000;
  font-weight: 600;
}

.precio {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2rem;
  width: 3.8rem;
  border-radius: 50%;
  background-color: #eafa35;
  font-size: 1.4rem;
}

.compra {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2rem;
  background-color: #eafa35;
  width: 15rem;
  border-radius: 8px;
  font-size: 1.8rem;
  transition: all 0.5s;
}

.compra:hover {
  cursor: pointer;
  background-color: #000;
  color: #eafa35;
  border: 1px solid #eafa35;
}

.compra a {
  color: #000;
  text-decoration: none;
  transition: all 1s;
}

.compra:hover a {
  color: #eafa35;
}

/***********/
/* Queries */
/***********/

@media (max-width: 1200px) {
  .productos {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 6.4rem;
    row-gap: 6.4rem;
  }

  .producto {
    margin: 5rem;
  }

  .carrusel {
    padding: 0;
  }

  .boton--izquierdo {
    left: -8rem;
  }

  .boton--derecho {
    right: -8rem;
  }
}

@media (max-width: 828px) {
  .producto {
    margin: 0;
  }
  .boton--izquierdo {
    left: -4rem;
  }

  .boton--derecho {
    right: -4rem;
  }
}

@media (max-width: 768px) {
  .comprar {
    top: -3.2rem;
    right: -4.8rem;
    padding: 0.6rem 3.2rem;
  }

  .mas-info {
    display: none;
  }
}

@media (max-width: 700px) {
  .producto {
    margin: 2.4rem;
  }
  .comprar {
    right: auto;
    font-size: 1.4rem;
  }
  .carrusel {
    width: 60%;
  }
}
