.section-product-detail {
  padding: 6.4rem 0 9.6rem;
}

.container {
  background-color: #111;
}

.main-container {
  border-radius: 8px;
  padding-bottom: 3.2rem;
}

/* Ruta */
.ruta {
  list-style: none;
  font-size: 1.4rem;
  padding: 1.4rem 0.6rem;
  color: #777;
}
.ruta li {
  display: inline-block;
}
.ruta a {
  color: #777;
  text-decoration: none;
}
.ruta li a::after {
  content: " > ";
}

/* Main Container */
.producto-container {
  display: flex;
  justify-content: space-between;
}

/* Imagen del Producto */
.img {
  width: 49%;
}

.producto-img-detail{
  width: 100%;
  
}

/* Detalles del Producto */
.producto-detail {
  display: flex;
  flex-direction: column;
  width: 49%;
}

.subheadings {
  margin-top: 0.8rem;
}
/* Categorias */
.producto-categorias {
  margin: 1.2rem 0 0.8rem;
}

.tag {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #000;
  border-radius: 100px;
  font-weight: 700;
  width: fit-content;
}

.tag--general {
  background-color: #666;
}

/* Titulo del Producto */
.producto-titulo {
  font-size: 2.4rem;
  margin-bottom: 0.4rem;
}

/* Envio */
.producto-envio {
  width: fit-content;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.6rem;
  background-color: #40c057;
  text-transform: uppercase;
  border-radius: 8px;
  margin-bottom: 1.8rem;
}

/* Precio */
.producto-precio {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.en-oferta {
  display: flex;
  align-items: center;
  height: fit-content;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.4rem;
  margin-left: 0.8rem;
}

/* Pago */
.producto-pago {
  font-size: 1.2rem;
}

/* Talle */
.producto-talle {
  margin-top: 2.4rem;
  font-size: 1.8rem;
}

.select-talle {
  margin-top: 0.8rem;
  width: 15%;
}

/* Color */
.producto-color {
  margin-top: 2.4rem;
  font-size: 1.8rem;
}

.colores ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  margin-top: 1.2rem;
}

.color {
  padding: 1.8rem;
  border: 2px solid #333;
  border-radius: 50%;
  margin-right: 1.6rem;
}
.color--blanco {
  background-color: white;
}
.color--negro {
  background-color: black;
}
.color--rojo {
  background-color: red;
}
.color--azul {
  background-color: blue;
}
/* Cantidad */
.producto-cantidad {
  margin-top: 2.4rem;
  font-size: 1.8rem;
}

.select-cant {
  margin-top: 0.8rem;
  width: 15%;
}

/* Agregar al Carrito */
.producto-agregarAlCarrito {
  margin: auto 0 2rem;
  padding: 0.8rem;
  background-color: #e03131;
  transition: all 0.5s;
}
.producto-agregarAlCarrito button {
  font-size: 2rem;
  display: flex;
  align-items: center;
  column-gap: 0.8rem;
  background-color: #e03131;
  color: #ffffffff;
  margin: auto;
  transition: all 0.5s;
}

.producto-agregarAlCarrito:hover,
.producto-agregarAlCarrito:link {
  /* background-color: #ffffffff; */
  cursor: pointer;
  animation: agregarAlCarritoColor 4s linear infinite;
}

.producto-agregarAlCarrito:hover button,
.producto-agregarAlCarrito:link button {
  /* background-color: #ffffffff;
  color: #e03131; */
  cursor: pointer;
  animation: agregarAlCarrito 4s linear infinite;
}

/* Testings */
@keyframes agregarAlCarrito {
  25% {
    transform: translateX(80%);
  }
  50% {
    background-color: #ffffffff;
    color: #e03131;
  }
  75% {
    transform: translateX(-80%);
  }
  100% {
    background-color: #e03131;
    color: #ffffffff;
  }
}
@keyframes agregarAlCarritoColor {
  50% {
    background-color: #ffffffff;
  }
  100% {
    background-color: #e03131;
  }
}

/***********/
/* Queries */
/***********/

@media (max-width: 1100px) {
  .section-product-detail {
    padding-bottom: 0;
  }
  .img,
  .producto-detail {
    width: 65%;
  }
  .ruta-container {
    text-align: center;
  }
  .producto-container {
    flex-direction: column;
    align-items: center;
  }

  .producto-agregarAlCarrito:hover,
  .producto-agregarAlCarrito:link {
    background-color: #ffffffff;
    animation: none;
  }

  .producto-agregarAlCarrito:hover button,
  .producto-agregarAlCarrito:link button {
    background-color: #ffffffff;
    color: #e03131;
    animation: none;
  }
}
