/*
--- Tipografía

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

--- Colores

- Primario: #eafa35

- Claros:
#ecfb49
#eefb5d
#f0fc72
#f2fc86
#f7fdae
#fbfed7
#fdffeb

- Oscuros: 
#d3e130
#bbc82a
#a4af25
#8c9620
#5e6415
#2f320b
#171905

- Grises

#888
#767676
#6f6f6f
#555
#333
#222
#111

--- Espacios en Blanco

- Sistema(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
/*********************/
/* Estilos Generales */
/*********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;

  font-weight: 400;
  color: #ffffffff;
  background-color: #111;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.img-header {
  width: 35px;
  border-radius: 50%;
}
/******************/
/* Sección Header */
/******************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: 9.6rem;
  font-weight: 500;
  background-color: #111;
}

/* Logo */
.header-ancor {
  margin-right: 1rem;
}

.logo {
  height: 7.4rem;
}

/* Main Nav */
.main-nav-list {
  display: flex;
  list-style: none;
  gap: 6.4rem;
  margin-top: 2.4rem;
  line-height: 1;
}

.main-nav-link {
  text-decoration: none;
  font-size: 1.8rem;
  color: #fdffeb;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #fdffeb;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #eafa35;
  transition: all 0.5s;
}

/* Botones */
.botones-header {
  display: flex;
  gap: 2.4rem;
  margin-left: 1rem;
}

button {
  border: none;
  background-color: #111;
  font-size: 3rem;
}

button a {
  color: #fdffeb;
}

.iconos-header:link,
.iconos-header:visited {
  color: #fdffeb;
}

.iconos-header:hover,
.iconos-header:active {
  color: #eafa35;
  transition: all 0.4s;
}

.boton-nav {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #111;
  color: #eafa35;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  transition: all 0.75s;
}

.boton-nav:hover {
  transform: rotate(360deg);
  color: #111;
  background-color: #eafa35;
}

.boton-nav ion-icon {
  width: 3rem;
  height: 3rem;
}
.logout-button {
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 700;
  width: fit-content;
  color: #eafa35;
  border: solid 1px #fdffeb;
}
.msg-login {
  color: #eafa35;
  text-align: center;
  padding-top: 1rem;
  font-size: 16px;
  text-decoration: none;
}
.button-logout-container {
  padding-top: 0.75rem;
}

/****************/
/* Sección Main */
/****************/

/******************/
/* Sección Footer */
/******************/

.footer {
  padding: 9.2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111;
}

.footer-container {
  display: flex;
  column-gap: 6.4rem;
  color: #ffffffff;
  font-size: 1.4rem;
}

.footer-container div {
  width: 25%;
  height: 20rem;
  display: flex;
  flex-direction: column;
}

.logo-footer {
  display: block;
  height: 5.2rem;
  margin-bottom: 4.8rem;
}

.social-links {
  list-style-type: none;
  display: flex;
  gap: 2.4rem;
}

.iconos-social {
  height: 2.4rem;
  width: 2.4rem;
  color: #ffffffff;
}

.iconos-social:link,
.iconos-social:visited {
  color: #fdffeb;
}

.iconos-social:hover,
.iconos-social:active {
  color: #eafa35;
  transition: all 0.4s;
}

.copyright {
  margin-top: auto;
  font-size: 1.4rem;
  color: #ffffffff;
}

.footer h3 {
  color: #ffffffff;
  margin-bottom: 3.2rem;
  font-size: 2rem;
}

.footer-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-list li {
  font-size: 1.4rem;
}

.is-valid {
  color: #198754;
}

.is-invalid {
  color: #842029;
}

.button,
input[type="submit"] {
  display: inline-block;
  background-color: #eafa35;
  border: none;
  color: gray;
  font-weight: bold;
  padding: 8px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  font-size: 15px;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.button:hover {
  background-color: #eefb5d;
  color: black;
  font-weight: bold;
}
/***********/
/* Queries */
/***********/

@media (max-width: 1200px) {
  body {
    background-image: none;
    background-color: #111;
  }
  .main-nav {
    display: none;
  }

  .boton-nav {
    display: flex;
  }

  .footer-container {
    flex-wrap: wrap;
    row-gap: 2.4rem;
    justify-content: center;
  }

  .footer-container div {
    width: 15rem;
  }
}

@media (max-width: 768px) {
  .botones-header {
    display: none;
  }

  .boton-nav {
    display: flex;
    position: fixed;
    top: 2rem;
    right: 3rem;
    z-index: 100;
  }
}
