<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head.ejs') %>
    <link rel="stylesheet" href="\css\productFutbol.css" />
  </head>

  <body>
    <%- include('../../partials/header.ejs') %>
    <div class="contenedor">
      <aside>
        <div class="contenedor-temario" id="temario">
          <h2 class="titulo">Tipo de Producto</h2>
          <ul class="lista">
            <li><a href="#1">Zapatos</a></li>
            <li><a href="#2">Camisetas</a></li>
            <li><a href="#3">Cascos</a></li>
            <li><a href="#4">Accesorios</a></li>
          </ul>

          <h2 class="titulo">Género</h2>
          <ul class="lista">
            <li><a href="#5">Hombre</a></li>
            <li><a href="#6">Mujer</a></li>
            <li><a href="#7">Niña</a></li>
            <li><a href="#8">Niño</a></li>
          </ul>
        </div>
      </aside>

      <main>
        <section class="offers">
          
          <div class="products" id="4">
            <article>
              <h2></h2>
              <a href="/productFutbol">
                <img src="/images/BK01.png" alt="Cafetera" class="product_img" />
              </a>
              <div class="nombre">Pelota Basket Molten</div>
              <div class="main-article">
                <div class="precio">$ 43</div>
                <button class="boton" type="button">Envio Gratis</button>
              </div>
            </article>

            <article>
              <h2></h2>
              <a href="/productFutbol">
                <img src="/images/aroo.png" alt="Cafetera" class="product_img"
                width="213px" />
              </a>
              <div class="nombre">Aro de Basquet Fire 114</div>
              <div class="main-article">
                <div class="precio">$ 700</div>
               
              </div>
            </article>

            <article>
              <h2></h2>
              <a href="/productFutbol">
                <img src="/images/mediasjump.png" alt="Cafetera" class="product_img"
                width="250px" height="198px" />
              </a>
              <div class="nombre">Medias Nike Jump Jordan</div>
              <div class="main-article">
                <div class="precio">$ 90</div>
                
              </div>
            </article>

          </div>

          <div class="products" id="5">
            <article>
              <h2></h2>
              <a href="/productFutbol">
                <img src="/images/CH01.png" alt="Cafetera" class="product_img" />
              </a>
              <div class="nombre">Conjunto blanco-gris masculino</div>
              <div class="main-article">
                <div class="precio">$ 82.5</div>
                <button class="boton" type="button">Envio Gratis</button>
              </div>
            </article>
            <article>
              <h2></h2>
              <a href="/productFutbol">
                <img src="/images/CH02.png" alt="Cafetera" class="product_img" />
              </a>
              <div class="nombre">Conjunto azul-negro masculino</div>
              <div class="main-article">
                <div class="precio">$ 85</div>
              </div>
            </article>

            <article>
              <h2></h2>
              <a href="/productFutbol">
                <img src="/images/CH03.png" alt="Cafetera" class="product_img" />
              </a>
              <div class="nombre">Conjunto blanco-azul masculino</div>
              <div class="main-article">
                <div class="precio">$ 90</div>
                <button class="boton" type="button">Envio Gratis</button>
              </div>
            </article>
          </div>

          <div class="products" id="6">
            <article>
              <h2></h2>
              <a href="/productFutbol">
                <img src="/images/CM01.png" alt="Cafetera" class="product_img" />
              </a>
              <div class="nombre">Conjunto GYM corto femenino</div>
              <div class="main-article">
                <div class="precio">$ 100</div>
              </div>
            </article>
            <article>
              <h2></h2>
              <a href="/productFutbol">
                <img src="/images/CM02.png" alt="Cafetera" class="product_img" />
              </a>
              <div class="nombre">Conjunto GYM largo femenino</div>
              <div class="main-article">
                <div class="precio">$ 98</div>
              </div>
            </article>

            <article>
              <h2></h2>
              <a href="/productFutbol">
                <img src="/images/CM03.png" alt="Cafetera" class="product_img" />
              </a>
              <div class="nombre">Conjunto femenino sin manga</div>
              <div class="main-article">
                <div class="precio">$ 78</div>
              </div>
            </article>
          </div>

          <div class="products" id="7">
            <article>
              <h2></h2>
              <a href="/productFutbol">
                <img src="/images/CN01.png" alt="Cafetera" class="product_img" />
              </a>
              <div class="nombre">Niña conjunto pantalon corto</div>
              <div class="main-article">
                <div class="precio">$ 46.8</div>
              </div>
            </article>

            <article>
              <h2></h2>
              <a href="/productFutbol">
                <img src="/images/CN03.png" alt="Cafetera" class="product_img" />
              </a>
              <div class="nombre">Conjunto completo pantalon largo niña</div>
              <div class="main-article">
                <div class="precio">$ 185</div>
              </div>
            </article>
          </div>

          <div class="products" id="8">
           
            <article>
              <h2></h2>
              <a href="/productFutbol">
                <img
                  src="/images/CNO02.png"
                  alt="Cafetera"
                  class="product_img"
                />
              </a>
              <div class="nombre">Conjunto deporte al parque niño</div>
              <div class="main-article">
                <div class="precio">$ 77</div>
              </div>
            </article>

          </div>
        </section>
        
      </main>
    </div>
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
