<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head.ejs') %>
    <link rel="stylesheet" href="\css\product.css" />
  </head>

  <body>
    <%- include('../../partials/header.ejs') %>
    <main>
      <section class="offers">
        <div class="products">
          <article>
            <h2>Futbol</h2>
            <a href="/products/futbol">
              <img
                src="/images/futbol.png"
                alt="Cafetera"
                class="product_img"
              />
            </a>
            <div class="main-article">
              Juego para ser feliz y la gente que valore lo que tenga que
              valorar. Si valoran mi trabajo, encantado, si no, no pasa nada.
              <br />
              <br />
              <div>
                “Aquí encontrarás los productos mas completos del mercado”
              </div>
            </div>
          </article>

          <article>
            <h2>Tennis</h2>
            <a href="/products/tennis">
              <img
                src="/images/tennis.png"
                alt="Cafetera"
                class="product_img"
              />
            </a>
            <div class="main-article">
              Todos los buenos atletas cometen errores; los grandes aprenden a
              cometer ese error solo una vez. Si caíste ayer, ponte en pie hoy
              <br />
              <br />
              <div>“Productos diferentes para alguien diferente”</div>
            </div>
          </article>
          <article>
            <h2>Basket</h2>
            <a href="/products/basket">
              <img
                src="/images/basket.png"
                alt="Cafetera"
                class="product_img"
              />
            </a>
            <div class="main-article">
              Da lo mejor cuando nadie esté mirando. Si haces eso, puedes ser
              exitoso en cualquier cosa que te propongas.
              <br />
              <br />
              <div>“Tu mejor decisión es estar aquí”</div>
            </div>
          </article>
          <article>
            <h2>Running</h2>
            <a href="/products/running">
              <img
                src="/images/running.png"
                alt="Cafetera"
                class="product_img"
              />
            </a>
            <div class="main-article">
              Debes poner a prueba tus límites, saber hasta donde eres capaz de
              llegar y descubrirás que siempre puedes dar un poco más.
              <br />
              <br />
              <div>“Atrévete”</div>
            </div>
          </article>
        </div>
      </section>
    </main>
    <%- include('../../partials/footer.ejs') %>
  </body>
</html>
